@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav d-flex justify-content-end" style="margin-left:10px">
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="Account" asp-controller="Identity" asp-action="Logout">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav d-flex justify-content-end">
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="Account" asp-controller="Identity" asp-action="Login">Login</a>
        </li>
    </ul>
    <ul class="navbar-nav d-flex justify-content-end" style="margin-left:10px">
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="Account" asp-controller="Identity" asp-action="Register">Register</a>
        </li>
    </ul>
}