@using DeliveryFoodShop.Models;

@{
}
@model List<Product>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="column col-md-3 p-3">
            <div class="text-center" style="height:250px">
                <div class="d-flex justify-content-center">
                    <img src="@item.Image" style="width:50%">
                </div>
            </div>
            <div class="text-center" style="height:90px">
                <p class="card-title">@item.Name</p>
            </div>
            <div class="text-end" style="height:50px">
                <b>@item.Price $</b>
            </div>
            <div>
                <a class="btn btn-primary w-100" asp-route-id="@item.Id" asp-area="Products" asp-controller="Products" asp-action="AddInShoppingCard">Add to cart</a>
            </div>
        </div>
    }
</div>