@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our store!</h1>
</div>
<div style="text-align:center">
    <a class="btn btn-primary align-cen" asp-area="Products" asp-controller="Products" asp-action="Catalog">Catalog</a>
</div>
